.inner{
    width: 1200px; margin: 0 auto;
}
#wrap{
    width: 100%; min-width: 1200px; overflow:hidden;
    position: relative;
} /*반응형이 아닐때 꼭 넣기*/
ul, li{list-style: none;}
h2{
    margin-bottom: 40px;
    color: black;
    font-size: 2rem;
}
h3{
    font-size: 3rem;
    color: black;
}
.more{
    border: 1px solid #555;
    padding: 10px 20px;
    cursor: pointer;
    margin-bottom: 80px;
}

/*********************header****************************/
#header{
 position: absolute; width: 100%; z-index: 99999;
}
#header::after{
    content: ''; display: block; clear: both;
}
#header .logo{
    float: left;
    margin-top: 30px;
    margin-right: 30px;
}

#gnb { float: left;
        margin-top: 60px;
    }
#gnb .depth1 {
    }
#gnb .depth1 > li{
        float: left; padding: 0 60px;
    }
#gnb .depth1 > li > a{
        text-align: center; display: block;
        color: #fff; line-height: 2em;
        font-weight: bold;
        padding-bottom: 20px;
    }
#gnb .depth1 > li:hover{
        border-bottom: 5px solid #e0004d;
    }   
#gnb .depth1 .depth2{
        width: 880px; margin: 0 auto;
        background-color: #fff;
        opacity: 0.8;
      
    }
#gnb .depth1 .depth2 > li {
        float: left;
        padding: 20px;
    }
#gnb .depth1 .depth2 > li:hover{
    text-decoration: underline;
}
#gnb .depth1 .depth2::after{
        content: ''; display: block; clear: both;
    }
#gnb .nav_box{
        background-color: #fff;
        opacity: 0.8;
        position: absolute; bottom: 60px; left: 0;
        width: 100%; display: none;
    }
#gnb .depth1 > li:hover .nav_box{display: block;}

#header .top{float:right;position: relative; margin-top: 60px;}
#header .top button{width:30px; height:30px;border:none;outline:0;
               background:none}
#header .top button.lang{
     background:url(../images/ico_search.png) no-repeat center;
}
#header .top button.lang.on{background-image:url(../images/ico_search.png)}

#header .top button.login{
     background:url(../images/ico_cart.png) no-repeat center;
}
#header .top button.login.on{background-image:url(../images/ico_cart.png)}

#header .top button.search{
     background:url(../images/ico_more.png) no-repeat center;
}

#header .top div{width:120px;height:80px;
                 padding: 10px 10px;
                 text-align: right;
                 line-height: 1.2rem;
                 background-color:#C69F90;
                 position:absolute;right:0;top:52px;
                 display: none;
                 border-top: 5px solid #6f6f6f;
                 z-index: 99999999;
                 }
#header .top div a:hover{
    color: #e0004d;
}

#header{
    background-color: black;
}
#header .nav2{
    position: relative;
    background-color: #5f5d5d;
    z-index: 1;
    margin-top: 180px;
}
#header .nav2 .inner{
    height: 60px;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    box-sizing: border-box;
}
#header .nav2 li{
    float: left;
    color: #fff;
    padding: 18px 154px 19px 148px;
    margin-right: 0;
    border-right: 1px solid #fff;
    box-sizing: border-box;
}
#header .nav2 li:first-child{
    background: url(../images/ico_home.png) no-repeat left;
    margin-left: 20px;
}
#header .nav2 .gray{
    color: #afafae;
}
#header .nav2 li:last-child{
    border-right:none;
    background-color: #e0004d;
    box-sizing: border-box;
}
#header .nav2 ul{
    height: 60px; width: 100%;
    position: absolute;
    z-index: 999999999999;
    box-sizing: border-box;
}
#header .nav2 ul::after{
    content: ''; display: block; clear: both;
}

/*********************section****************************/
#sec_1{
    background-image: url(../images/sub_bg.jpg);
    height: 970px;
    margin-top: 150px;
    color: #fff;
}
#sec_1 h3{
    color: #fff;
}
#sec_1 .inner{
    padding-top: 500px;
}
#sec_1 .sec_1_{
    float: left;
}
#sec_1 .left{
    width: calc(25% - 20px);
    border-top: 3px solid #fff;
    margin-right: 20px;
}
#sec_1 .right{
    width: 75%
}

#sec_2{
    padding-top: 80px;
    background-color: #f5f0e9;
}
#sec_2 .sec_2_{
    float: left;
}
#sec_2 .left{
    width: calc(25% - 20px);
    border-top: 3px solid black;
    margin-right: 20px;
}
#sec_2 .midle{
    width: 10%;
}
#sec_2 .midle p:nth-child(2){
    margin-bottom: 112px;
}
#sec_2 .midle p{
    margin-top: 3px;
    margin-bottom: 80px;
}
#sec_2 .midle p .line{
    border-top: 3px solid #e0004d;
}
#sec_2 .right{
    width: 65%;
    padding-top: 3px;
}
#sec_2 .right div{
    float: left;
}
#sec_2 .right .right_l{
    width: 10%;
}
#sec_2 .right .right_r{
    width: 90%;
    margin-bottom: 40px;
}
#sec_2 .right .margin_b{
    margin-bottom: 10px;
}
#sec_2 .right .right_word{
    margin-bottom: 80px;
}
#sec_2 .right div::after{
    content: ''; display: block; clear: both;
}
#sec_2::after{
    content: ''; display: block; clear: both;
}

#sec_3{
    padding-top: 40px;
    padding-bottom: 80px;
    background-color: #f5f0e9;
}
#sec_3 p{
    margin-bottom: 20px;
}
#sec_3 .sec_3_{
    float: left;
}
#sec_3 .left{
    width: calc(25% - 20px);
    border-top: 3px solid black;
    margin-right: 20px;
}
#sec_3 .right{
    width: 75%;
}
#sec_3 .right .world_barista{
    float: left;
}
#sec_3 .right .world_l{
    width: 20%;
}
#sec_3 .right .world_r{
    width: 80%;
}
#sec_3 .right .margin_b{
    margin-bottom: 80px;
}
#sec_3 .right .pink{
    color: #e0004d;
}
#sec_3::after{
    content: ''; display: block; clear: both;
}
#sec_3 button{
    background-color: #c69f90;
    border: none;
    padding: 15px 25px;
    cursor: pointer;
    color: #fff;
    font-size: 1.2rem;
}








/*********************footer****************************/
#footer{
    background-color: #382d2c;
    height: 300px;
}
#footer ul{
    padding-top: 80px;
    color: #fff;
}
#footer .foot_left{
    float: left;
}
#footer .foot_right{
    float: right;
    text-align: right;
}
#footer .foot_left_01{
    font-weight: bold;
    padding-bottom: 20px;
}
#footer .foot_left_01 a{
    padding-right: 20px;
}
#footer .foot_right .i_con{
    margin-bottom: 40px;
}
#footer .foot_right .phon{
    color: #e0004d;
    font-size: 2rem;
}









/*********************j쿼리 디자인****************************/
.lazy {
    width: 100%;
}
.lazy .slick-slide img{
    width: 100%;
}
.lazy .slick-arrow{
    position: absolute; top: calc(50% - 50px); width: 50px; height: 100px; background-color: transparent; border: none; outline: 0;
    z-index: 9999999999;
    text-indent: -9999999px;
    cursor: pointer;
}
.lazy .slick-prev{
    left: 50px; background: url(../images/prev.png) no-repeat center;
}
.lazy .slick-next{
    right: 50px; background: url(../images/next.png) no-repeat center;
}
.lazy .slick-dots{
    position: absolute; bottom: 120px; left: 0; text-align: center; width: 100%;
}
.lazy .slick-dots li{
    display: inline-block; margin: 0 5px;
}
.lazy .slick-dots li button{
    width: 20px; height: 20px;
    border-radius: 50%;
    background-color: rgba(255,255,255,0.5);
    border: none; outline: 0;
    text-indent: -999999999px;
}
.lazy .slick-dots li.slick-active button{
    background-color: rgba(255,255,255,1);
}

.variable .slick-slide img {
    margin-right: 80px;
}
.variable .slick-arrow{
    position: absolute; top: 120px; width: 50px; height: 100px; background-color: transparent; border: none; outline: 0;
    z-index: 999999999999;
    text-indent: -9999999px;
    cursor: pointer;
}
.variable .slick-prev{
    background: url(../images/sec_2_prev.png) no-repeat center; left: -70px;
}
.variable .slick-next{
    background: url(../images/sec_2_next.png) no-repeat center; left: 300px;
}


.vertical-center {height:80px;overflow:hidden;padding:30px 20px; width: 800px;}
.vertical-center .slick-slide{
    line-height:80px;
}


